<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="nav-wrap">
        <a class="navbar-brand" href="#"><img src="dist/images/service-share.jpg" width="80" height="80" alt=""/>Service
            Share</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Resource Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Update Resource Availability</a>
            </li>
        </ul>
    </div>
</nav>