
  <body class="col-xs-10 col-xs-push-1">
  
        <div class="container">
        
		<form method="post">
		  <div class="form-group">
		    <label for="orgName">Organization Name</label>
		    <input value="{{profile.name}}" class="form-control" id="orgName" aria-describedby="organizationName" placeholder="Enter Organization Name">
		  </div>
		  
		  <div class="form-group">
		    <label for="orgNum">Organization Phone Number</label>
		    <input value="{{profile.phone}}" class="form-control" id="orgNum" aria-describedby="organizationName" placeholder="Enter Organization Name">
		    <small id="organizationName" class="form-text text-muted">The best phone number for other organizations to use when contacting you.</small>
		  </div>
		  
		  <div class="form-group">
		    <label for="orgName">Organization Street Name</label>
		    <input value="{{profile.address}}" class="form-control" id="orgAddress" aria-describedby="organizationName" placeholder="Enter Organization Name">
		    <small id="organizationName" class="form-text text-muted">The best phone number for other organizations to use when contacting you.</small>
		  </div>
		  
		  <div class="form-group">
		    <label for="contactName">Contact Person</label>
		    <input value="{{profile.poc}}" class="form-control" id="contactName" aria-describedby="contactPerson" placeholder="Enter Full Name of Contact Person">
		  </div>
		  
		  <div class="form-group">
		    <div class="form-check">
		      <label class="form-check-label">
		        <input type="checkbox" class="form-check-input" name="coc" id="cocYes" checked>
		        Yes, we are part of the Continuum of Care (COC)
		      </label>
		    </div>
  		  </div>
		  <input name="Action" value="Submit" type="submit"></input>
		</form>

		  
  </body>
