{% extends 'base.html.twig' %}
{% block content %}
    <div class="col-xs-10 col-xs-push-1">

        <div class="container">

            <form method="post">
                <h1>Search for Utility and Rent Assistance</h1>

                <div class="form-group">
                    <label for="Program1Amount">Amount Needed</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input name="budget" type="text" class="form-control" id="Program1Amount" placeholder="Amount Needed">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="ZipCode">Zip Code</label>
                    <input name="zip" type="text" class="form-control" id="orgName" aria-describedby="ZipCode"
                           placeholder="Zip Code">
                </div>

                <div class="form-group">

                    <label>Other Information</label>
                    <br/>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="ami" name="requirements[]" type="checkbox" class="form-check-input">
                            HUD AMI under 30%
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="veteran_dishonor" name="requirements[]"type="checkbox" class="form-check-input">
                            Veterans - Dishonorable Discharge
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="veteran_any" name="requirements[]" type="checkbox" class="form-check-input">
                            All Veterans
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="veteran_honorable" name="requirements[]" type="checkbox" class="form-check-input">
                            Veterans - Honorable
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="family_under_5" name="requirements[]" type="checkbox" class="form-check-input">
                            Families with Children Under 5
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="family_under_18" name="requirements[]" type="checkbox" class="form-check-input">
                            Families with Children Under 18
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input value="youth_16_24" name="requirements[]" type="checkbox" class="form-check-input">
                            Youth Only 16-24
                        </label>
                    </div>
					
					<div class="form-check">
                        <label class="form-check-label">
                            <input value="sixty_plus" name="requirements[]" type="checkbox" class="form-check-input">
                            Seniors 60+
                        </label>
                    </div>
					
					<div class="form-check">
                        <label class="form-check-label">
                            <input value="private_restricted" name="requirements[]" type="checkbox" class="form-check-input">
                            Private Fund With Restrictions
                        </label>
                    </div>
					
					<div class="form-check">
                        <label class="form-check-label">
                            <input value="private_funds" name="requirements[]" type="checkbox" class="form-check-input">
							Private Fund Without Restrictions
                        </label>
                    </div>
					
					<div class="form-check">
                        <label class="form-check-label">
                            <input value="resident_city" name="requirements[]" type="checkbox" class="form-check-input">
                            St. Louis City Residents
                        </label>
                    </div>
					
					<div class="form-check">
                        <label class="form-check-label">
                            <input value="resident_county" name="requirements[]" type="checkbox" class="form-check-input">
							St. Louis County Residents
                        </label>
                    </div>


                    <br/>
                    <!-- End Program Information -->


                    <!-- Other Services - v2.0
          <br />
          <div class="form-group">
            <label for "otherServices">Other prevention help at this agency:</label>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Transportation Assistance
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Career Guidance/Job Placement
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Career Clothing
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Mental Health
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Gambling
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Substance Abuse
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Domestic Violence
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Divorce
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Family/Roommate Dispute Mediation
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Disaster Relief (Flood/Fire/Etc.)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Home Repair
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Budget Education
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Medical Bills
                    </label>
                </div>
               <div class="checkbox">
                    <label>
                      <input type="checkbox"> Hospitalized (Lost Job/Lost Hours)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Disabled
                    </label>
                </div>
             End v2.0 Input-->

                    <br/>
                    <input type="submit" class="btn btn-primary"></input>
            </form>
        </div><!-- /.container -->


    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/js/bootstrap.js"></script>
    </div>
{% endblock %}
