
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="dist/images/favicon.ico">

    <title>St. Louis Service Share</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/signin.css" rel="stylesheet">
  </head>

  <body class="col-xs-10 col-xs-push-1">
  
        <div class="container">
        
		<form>

		  <div class="form-group"></div>
		  <div class="form-group">		    </div>
  		  	
	  	  <!-- Begin Program Information -->	  
		  <div class="form-group">
		    <label for="programName">Program Name</label>
		   <!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select<span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
  </ul>
</div>
		  </div>
		  
		  <div class="form-group">
            <label for="Program1Amount">Prevention Funds Available for this Program</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="Program1Amount" placeholder="Amount Available">
              <div class="input-group-addon">.00</div>
            </div>
          </div>
		  
		 <br />
		 <br />	
          <!-- End Program Information -->		  


		  
		  <br />
		  <button type="submit" class="btn btn-primary">Submit Update</button>
		</form>
	</div><!-- /.container -->   

     
      
  </div> 
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="dist/js/bootstrap.js"></script>
  </body>
</html>